*{box-sizing: border-box;}
input{
padding: 15px 15px;
border: 1px solid #ccc;
border-radius: 4px;
}
label,input[type="text"], input[type"date"]
{
display:block;
width: 30px;
}
input[type="submit"], input[type"cancel"]
{width: 15px;
}
